body {
  margin: auto;
  padding: auto;
  background-size: cover;
  opacity: 0.1em;
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
  font-family:fantasy;
}

ul li a{
  float: right;
  display: inline;
  color: #04f240;
  padding: 5px;
}

h1 {
  font: italic bold 2em 'Open Sans', serif;
  color:white;
  text-decoration: underline;
}

h2{
  text-decoration: underline;
}

footer{
    border: 2px;
    padding: 5px;
    margin: auto;
    background-color:blue;
    text-align: center;

}
