body {
  margin: auto;
  padding: auto;
  background-size: cover;
  opacity: 0.1em;
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
  font-family:fantasy;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: right;
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


h1 {
  font: italic bold 2em 'Open Sans', serif;
  color:white;
  text-decoration: underline;
}

h2{
  text-decoration: underline;
}

.footer{
    border: 2px;
    padding: 5px;
    margin: auto;
    background-color:blue;
    text-align: center;
    list-style-type: none;

}
