body {
  margin: auto;
  padding: ;
  background-size: cover;
  opacity: 0.1em;
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  font-family:fantasy;
}

div {
  display: flex;
  align-items: right;
  background-clip: content-box;
  color: #04f240;
  clear: right;
  justify-content: space-between;
}

h1 {
  font: italic bold 2em 'Open Sans', serif;
  color:white;
  text-decoration: underline;
}

h2{
  text-decoration: underline;
}

footer{
    border: 2px;
    padding: 5px;
    margin: auto;
    background-color:blue;
    text-align: center;

}
